.app__projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 3rem auto;
  font-size: 2.5rem;
  padding: 0 1rem;
  overflow: hidden;
}

.app__projects-header {
  color: var(--foreground-dark);
  margin-bottom: 3rem;
  h1 {
    font-size: 2.5rem;
    font-weight: 500;
  }
}

.projects-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;

  @media (max-width: 768px) {
    display: flex;
  }
}

.projects-container-large {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    display: flex;
  }
}
