@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

html {
  scroll-behavior: smooth;
}

:root {
  --background-light: #ffffff;
  --foreground-light: #11181c;

  --background-dark: #000000;
  --foreground-dark: #ecedee;

  --text1: #61dafb;
  --text2: #9353d3;
  --text3: #f5a524;
  --text4: #ff0000;
}
